@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-content {
    position: relative;
    width: 90%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 300px 700px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
 .left-section {
    position: relative;
    grid-column: span 1;
    background: #003147;
    padding: 40px;
}
.left-content {
    padding: 1rem 1rem 1rem 1rem;
}
.profile-image {
    position: relative;
    width: 60%;
    height: 200px;
    border: 5px;
    border-radius: 30%;
    margin: auto;
    padding: 1rem;
    overflow: hidden;
}
.profile-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.name {
    position: relative;
    text-align: center;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    
}
.designation {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.5rem;
}
.description {
    color: #fff;
    font-size: 0.75;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}
.contact-item {
    width: 20px; 
    height: 20px; 
    color: lightblue;

}
.skills {
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
 .progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    border: 1px solid;
    background: #f0f0f0;
}
.progress-bar div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: greenyellow;
}

 .right-section {
    position: relative;
    grid-column: span 1 / span 2;
    background: #fff;
    padding: 40px;
}
.right-main-content {
    padding: 2rem 2rem 3rem 3rem;
}
.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.right-main-content .box {
    display: flex;
    flex-direction: row;
}
.right-main-content .box .text h4 {
   text-transform: uppercase;
   color: #2a7da2;
   font-size: 16px;
}
.right-main-content .box .Institute_year {
    min-width: 150px;
}
.right-main-content .box .Institute_year h5 {
    text-align: center;
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
@media only screen and (max-width: 674px) {
.main-content
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}